app:
  port: 8080
  host: 127.0.0.1
  env: dev

database:
  driver: mysql
  migrate: true
  # use dsn
  dsn: fortest:test@tcp(localhost:3306)/fortest?charset=utf8mb4&parseTime=True&loc=Local&timeout=1000ms

redis:
  enable: true
  host: localhost
  port: 6379
  password: passwd
  db: 0
